<p id="notice"><%= notice %></p>

<h1>Listing Turns</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Introduction</th>
      <th>Results</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.number %></td>
        <td><%= turn.introduction %></td>
        <td><%= turn.results %></td>
        <td><%= turn.game_id %></td>
        <td><%= link_to 'Show', turn %></td>
        <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
        <td><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turn', new_turn_path %>
