<p id="notice"><%= notice %></p>

<h1>Listing Environment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @environment_types.each do |environment_type| %>
      <tr>
        <td><%= environment_type.name %></td>
        <td><%= environment_type.code %></td>
        <td><%= environment_type.description %></td>
        <td><%= link_to 'Show', environment_type %></td>
        <td><%= link_to 'Edit', edit_environment_type_path(environment_type) %></td>
        <td><%= link_to 'Destroy', environment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Environment type', new_environment_type_path %>
