<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @environment.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @environment.code %>
</p>

<p>
  <strong>Environment type:</strong>
  <%= @environment.environment_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @environment.description %>
</p>

<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', environments_path %>
